---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paytrace.com/v1/transactions/sale/keyed
    body:
      encoding: UTF-8
      string: '{"integrator_id":"<INTEGRATOR_ID>","amount":51.88,"credit_card":{"number":"4012000098765439","expiration_month":"12","expiration_year":"2026"},"billing_address":{"name":"Nathan
        Williams","street_address":"1234 Main St.","city":"Los Angeles","state":"CA","zip":"90210"}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"0a3516662b63f161efcb0d71819e7a29"
    body:
      encoding: UTF-8
      string: '{"success":true,"response_code":101,"status_message":"Your transaction
        was successfully approved.","transaction_id":125391271,"approval_code":"TAS445","approval_message":"  NO  MATCH
        - Approved and completed","avs_response":"No Match","csc_response":"","external_transaction_id":"","masked_card_number":"xxxxxxxxxxxx5439"}'
  recorded_at: Thu, 05 Dec 2024 23:08:46 GMT
recorded_with: VCR 6.2.0
