---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paytrace.com/v1/transactions/sale/by_transaction
    body:
      encoding: UTF-8
      string: '{"integrator_id":"<INTEGRATOR_ID>","transaction_id":"125391265","amount":19.95}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"7132578a63392e64ca094684db9e316d"
    body:
      encoding: UTF-8
      string: '{"success":true,"response_code":101,"status_message":"Your transaction
        was successfully approved.","transaction_id":125391270,"approval_code":"TAS358","approval_message":"  NO  MATCH
        - Approved and completed","avs_response":"No Match","csc_response":"","external_transaction_id":""}'
  recorded_at: Thu, 05 Dec 2024 23:05:29 GMT
recorded_with: VCR 6.2.0
