---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paytrace.com/oauth/token
    body:
      encoding: US-ASCII
      string: grant_type=password&username=test_user2&password=MrzNNeRx%211
    headers:
      Content-type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"d26c08230487306fbaaa0124748616e4"
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS_TOKEN>","token_type":"Bearer","expires_in":7200,"created_at":1733439151}'
  recorded_at: Thu, 05 Dec 2024 22:52:31 GMT
recorded_with: VCR 6.2.0
