---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paytrace.com/v1/transactions/sale/by_customer
    body:
      encoding: UTF-8
      string: '{"integrator_id":"<INTEGRATOR_ID>","customer_id":"99","amount":25.0}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"ab55317c112295b27a7b938e6cf1e547"
    body:
      encoding: UTF-8
      string: '{"success":true,"response_code":101,"status_message":"Your transaction
        was successfully approved.","transaction_id":125391269,"approval_code":"TAS349","approval_message":"  NO  MATCH
        - Approved and completed","avs_response":"No Match","csc_response":"","external_transaction_id":""}'
  recorded_at: Thu, 05 Dec 2024 23:05:02 GMT
recorded_with: VCR 6.2.0
