---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paytrace.com/v1/customer/create
    body:
      encoding: UTF-8
      string: '{"integrator_id":"<INTEGRATOR_ID>","customer_id":"1733439821","credit_card":{"number":"4012000098765439","expiration_month":"12","expiration_year":"2026"},"billing_address":{"name":"Nathan
        Williams","street_address":"1234 Main St.","city":"Los Angeles","state":"CA","zip":"90210"}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"c8dcc6d024bcc0b34179b38b1ac3a947"
    body:
      encoding: UTF-8
      string: '{"success":true,"response_code":160,"status_message":"The customer
        profile for 1733439821/Nathan Williams was successfully created.","customer_id":"1733439821","masked_card_number":"xxxxxxxxxxxx5439"}'
  recorded_at: Thu, 05 Dec 2024 23:04:11 GMT
recorded_with: VCR 6.2.0
