---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paytrace.com/oauth/token
    body:
      encoding: US-ASCII
      string: grant_type=password&username=test_user2&password=MrzNNeRx%211
    headers:
      Content-type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - W/"72fb0069d7db36014f494c9c0e22fde4"
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS_TOKEN>","token_type":"Bearer","expires_in":7200,"created_at":1733511471}'
  recorded_at: Fri, 06 Dec 2024 18:57:51 GMT
recorded_with: VCR 6.2.0
